<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :question %><br />
  <%= f.text_area :question %>
</div>
<div class="field">
  <%= f.label :response %><br />
  <%= f.text_area :response %>
</div>
<div class="field">
  <%= f.label :status %><br />
  <%= f.check_box :status %>
</div>
